<template name="virSubmit">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="url">Country</label>
      <div class="controls">
          <input name="country" id="country" type="text" value="" placeholder="Country" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Visa Required</label>
      <div class="controls">
          <input name="visaYN" id="visaYN" type="text" value="" placeholder="Yes / No" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>